<nav class="navbar navbar-expand-lg navbar-dark marron-oscuro">
  <div class="container px-2 px-sm-0">
    <a class="navbar-brand tipografia-logotipo navBarTitulo"
      >Librería San Juan</a
    >
    <button
      (click)="mostrarCarrito()"
      class="me-auto botonAbrirCarrito ps-md-4 mt-md-2 pb-1 border border-0"
    >
      <i class="bi bi-cart"></i
      ><span class="cantidadCarrito">{{
        carritoLength
      }}</span>
    </button>
    <span
      *ngIf="isAdmin"
      class="ps-md-5 mt-md-2 pb-1 text-white-50"
      ><a class="me-3" routerLink="/admin"><i class="bi bi-tools"></i></a
    ></span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex w-50 justify-content-between mt-3">
        <li
          class="nav-item text-white-50 d-flex justify-content-between hover"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          <i class="bi bi-person-circle nav-link"></i>
          <p class="nav-link ms-2 ms-lg-0 me-auto">
            <span>{{ sesionCorreo }}</span>
          </p>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/libros">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
