<div class="container-fluid marron-oscuro mt-auto text-light">
  <div class="container d-flex justify-content-between px-0">
    <p class="tipografia-logotipo text-light pt-3">Librería San Juan</p>
    <ul class="d-flex pt-3 justify-content-between">
      <li>
        <a href="https://ar.linkedin.com" target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </li>
      <li>
        <a href="https://instagram.com" target="_blank"
          ><i class="bi bi-instagram"></i
        ></a>
      </li>
      <li>
        <a href="https://www.whatsapp.com/" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
      </li>
      <li>
        <a href="#inicio"><i class="bi bi-arrow-up"></i></a>
      </li>
    </ul>
  </div>
</div>
