  <section id="contacto" class="my-3 my-lg-5">
    <h1 class="text-center mb-5 tipografia-logotipo">Contacto</h1>
    <div class="container contenedor-contacto madera">
      <div class="row">
        <form id="formularioContacto" class="col-12 col-lg-6" role="form">
          <input
            type="text"
            class="col-12 inputs"
            id="asunto"
            placeholder="Asunto"
            name="asunto"
            value=""
            required
          />
          <textarea
            class="col-12 inputs"
            rows="10"
            placeholder="Ingrese aquí su mensaje"
            name="message"
            required
          ></textarea>
          <button
            class="btn crema boton col-12"
            id="submit"
            type="submit"
            value="SEND"
          >
            <div class="animacion-boton">
              Enviar<span class="texto-boton"><i class="bi bi-send"></i></span>
            </div>
          </button>
        </form>
        <div class="col-12 col-lg-6">
          <ul
            class="datos-contactos d-flex flex-column justify-content-around h-100 col-12"
          >
            <li>
              <i class="bi bi-geo-alt-fill me-3"></i>
              <span class="texto-datos-contactos direccion"
                >Av. 25 de Mayo 1870 | CABA | Argentina</span
              >
            </li>
            <li>
              <i class="bi bi-telephone-fill me-3"></i>
              <span class="texto-datos-contactos telefono"
                >(+54 9 11) 6879 - 4645</span
              >
            </li>
            <li>
              <i class="bi bi-envelope-fill me-3"></i>
              <span class="texto-datos-contactos gmail"
                ><a
                  href="mailto:book_binders@gmail.com"
                  title="Envíame un correo"
                  >book_binders@gmail.com</a
                ></span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <iframe
            class="mapa-contacto mt-4"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.167154608143!2d-58.38422531242835!3d-34.599934467486165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac87b690ef9%3A0x4f62f33e5fe41dc9!2sPetersen%2C%20Thiele%20y%20Cruz%20S.A.C.!5e0!3m2!1ses!2sar!4v1675197187434!5m2!1ses!2sar"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Mapa con nuestra localización"
          ></iframe>
        </div>
      </div>
    </div>
  </section>

