<h1 class="text-center mt-4">Bienvenido a la consola del administrador</h1>

<div class="container madera mt-5 pb-3">
  <h2 class="text-center py-3">Usuarios registrados</h2>
  <ul class="crema d-flex flex-column justify-content-between">
    <ng-container *ngIf="usuarios">
      <li
        *ngFor="let usuario of usuarios"
        class="my-1 d-flex justify-content-between align-items-center border-dark border-bottom"
      >
        <p>
          {{ usuario.usuario_correo }} || Admin
          <!--  {{usuario.isAdmin == true ? "Admin" : "Usuario"}} -->
        </p>
        <button
          class="crema me-3"
          (click)="eliminarUsuario(usuario.usuario_id, usuario.usuario_correo)"
        >
          <i class="bi bi-trash3-fill"></i>
        </button>
      </li>
    </ng-container>
  </ul>
</div>

<div class="container madera mt-5 pb-3 mb-4">
  <h2 class="text-center py-3">Libros</h2>
  <button class="crema mx-auto d-block py-2 w-50 mb-3" (click)="agregarLibro()">
    Agregar libro
  </button>
  <ul class="crema d-flex flex-column justify-content-between">
    <ng-container *ngIf="libros">
      <li
        *ngFor="let libro of libros"
        class="my-1 d-flex justify-content-between align-items-center border-dark border-bottom"
      >
        <p>
          {{ libro.libro_titulo }} || ${{ libro.libro_precio }} ||
          {{ libro.libro_autor }}
        </p>
        <div>
          <button
            class="crema me-3"
            (click)="
              editarLibro(
                libro.libro_id,
                libro.libro_titulo,
                libro.libro_precio,
                libro.libro_autor,
                libro.libro_portada
              )
            "
          >
            <i class="bi bi-pencil-square p-1"></i>
          </button>
          <button
            class="crema me-3"
            (click)="eliminarLibro(libro.libro_id, libro.libro_titulo)"
          >
            <i class="bi bi-trash3-fill"></i>
          </button>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
