<header>
  <nav>
    <a href="./index.html" class="ms-3 mt-1 d-block adminLink">
      Regresar al index</a
    >
  </nav>
</header>
<h1 class="text-center mt-4">Bienvenido a la consola del administrador</h1>

<div class="container madera mt-5 pb-3">
  <h2 class="text-center py-3">Usuarios registrados</h2>
  <ul
    class="crema d-flex flex-column justify-content-between"
    id="listaUsuarios"
  ></ul>
</div>

<div class="container madera mt-5 pb-3">
  <h2 class="text-center py-3">Libros</h2>
  <button class="crema mx-auto d-block py-2 w-50 mb-3" onclick="agregarLibro()">
    Agregar libro
  </button>
  <ul
    class="crema d-flex flex-column justify-content-between"
    id="listaLibros"
  ></ul>
</div>
