<div id="overlayCuadroScripts" class="overlayCarrito">
  <div id="cuadroScripts" class="container containerCarrito madera p-3">
    <div class="row justify-content-between">
      <div class="col-lg-8 cuadroCarrito">
        <ul id="listaCarrito" class="listaCarrito">
          <ng-container *ngIf="carrito">
            <li
              *ngFor="let libro of carrito"
              class="d-flex justify-content-between align-items-center mt-4"
            >
              <p>{{ libro.libroTitulo }} <b>|</b> ${{ libro.libroPrecio }}</p>
              <div class="text-center d-flex align-items-center mb-3">
                <button
                  class="btn px-1"
                  (click)="decrementarCantidadCarrito(libro.libroId)"
                >
                  <i class="bi bi-caret-left"></i>
                </button>
                <span class="border border-dark pb-1 px-2">
                  {{ libro.libroCantidad }}
                </span>
                <button
                  class="btn me-2 px-1"
                  (click)="incrementarCantidadCarrito(libro.libroId)"
                >
                  <i class="bi bi-caret-right"></i>
                </button>
                <button
                  class="botonEliminar crema"
                  (click)="eliminarLibroCarrito(libro.libroId)"
                >
                  <i class="bi bi-trash3-fill"></i>
                </button>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-lg-4 col-xl-4 d-flex flex-column justify-content-around">
        <button class="botonesCarrito crema py-1" (click)="ocultarCarrito()">
          <i class="bi bi-x-lg"></i>
        </button>
        <button class="botonesCarrito crema py-1" (click)="ordenarCarrito()">
          <span>Ordenar por precio de menor a mayor</span>
        </button>
        <button class="botonesCarrito crema py-1" (click)="vaciarCarrito()">
          <span>Vaciar carrito</span>
        </button>
        <p id="textoPrecioFinal" class="text-center crema botonesCarrito py-1">
          Precio final: ${{ precioFinal }}
        </p>
        <form id="formulario" role="form">
          <button
            class="botonesCarrito crema botonDeEnvio col-12"
            (click)="enviarCarrito()"
            type="button"
            value="SEND"
          >
            <div class="animacion-botonDeEnvio">
              <span class="texto-botonDeEnvio texto-boton">Enviar</span
              ><i class="bi bi-send"></i>
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
