<div class="container madera my-5 px-0 rounded">
  <div
      class="d-flex justify-content-around flex-wrap py-3 py-lg-5 text-center"
      id="librosContainerIndex"
    >
      <ng-container *ngIf="libros">
        <div
          *ngFor="let libro of libros; index as i"
          class="card caja-oferta marron-claro mb-3 mb-lg-0 m-1 col-11 col-sm-7 col-lg-3"
        >
          <img
            class="card-img-top img-oferta mt-3"
            src="{{ libro.libroPortada }}"
            alt="Foto de {{ libro.libroTitulo }}"
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ libro.libroTitulo }}</h5>
            <p class="card-text">${{ libro.libroPrecio + 100 }}</p>
            <p class="card-text">${{ libro.libroPrecio }}</p>
          </div>
          <button (click)="agregarLibroCarrito(libro)" class="btn text-light marron-medio border border-0">
            Comprar
          </button>
        </div>
      </ng-container>
    </div>
    <button class="btn marron-medio w-100 text-light border border-0">
      <a class="w-100 d-block" href="./libros.html">Ver más libros</a>
    </button>
  </div>
