<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content cremaSuave">
      <div class="modal-header border-bottom-0">
        <h2 class="ms-auto fw-bold">Inicio de sesión</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-5">
        <div class="d-flex flex-column flex-lg-row text-center">
          <form
            novalidate
            [formGroup]="registroUsuario"
            (ngSubmit)="registrarUsuario()"
          >
            <h3>Registrarse</h3>
            <input
              type="text"
              class="swal2-input"
              placeholder="Correo electrónico"
              formControlName="name"
            />
            <input
              type="password"
              class="swal2-input"
              placeholder="Contraseña"
              formControlName="password"
            />
            <button
              class="btn btn-primary d-block mt-4 mx-auto"
              type="submit"
              [disabled]="registroUsuario.invalid"
            >
              Registrarse
            </button>
          </form>
          <form
            novalidate
            [formGroup]="inicioSesionUsuario"
            (ngSubmit)="iniciarSesion()"
          >
            <h3>Iniciar sesión</h3>
            <input
              type="text"
              class="swal2-input"
              placeholder="Correo electrónico"
              formControlName="name"
            />
            <input
              type="password"
              class="swal2-input"
              placeholder="Contraseña"
              formControlName="password"
            />
            <button
              class="btn btn-primary d-block mt-4 mx-auto"
              type="submit"
              [disabled]="inicioSesionUsuario.invalid"
            >
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
